
.bannerSec.inr_Bner{
    width: 100%; height: 160px; padding: 0;
}
.request_form_Sec{
    width: 100%; padding: 95px 0 90px;
    .pagehding{
        max-width: 100%;
    }
}
.header_iner{
    .hderinr{
        align-items: center;
    }
}
.request_form_pnl{
    width: 100%; margin: 65px 0 0; position: relative; display: flex; justify-content: flex-end;
}
.requestformimg{
    position: absolute; bottom: -90px; left: 12%;
}
.request_form_rt{
    width: 100%; border-radius: 6px; background: #2980BC; padding: 44px 37px 35px 31px; max-width: 665px; margin: 0 60px 0 0;
}
.request_form_rt_inr{
    width: 100%;
}
.form_data{
    width: 100%; position: relative; margin: 24px 0 0; display: flex; align-items: center;
    input[type="text"], input[type="email"], input[type="tel"], textarea{
        width: 100%; background: #FFFFFF; border: 0; border-radius: 90px; height: 53px; padding: 0 20px 0 43px;
        color: #AED5ED; font-weight: 600; font-size: 17px; line-height: 20px; outline: none;
        &::placeholder{
            letter-spacing: -0.07em; opacity: 1; color: #AED5ED;
        }
    }
    > span{
        position: absolute; left: 16px; color: #154460; font-size: 18px;
    }
    > span.icon-Vector17{
        top: 20px;
    }
    textarea{
        height: 129px !important; padding-top: 20px !important; resize: none; -webkit-appearance: none; border-radius: 18px;
    }
    &:first-child{
        margin: 0;
    }
}
.form_text{
    width: 100%; margin: 27px 0 0; text-align: center;
    > em{
        font-style: normal; letter-spacing: -0.03em; color: #FFFFFF; font-size: 17px; line-height: 20px; font-weight: 600;
        a{
            color: #FFFFFF; text-decoration: underline;
            &:hover{
                color: #FFFFFF; opacity: 0.65;
            }
        }
    }
}
.form_buton{
    margin: 25px 0 0; display: flex; justify-content: flex-end;
    > em{
        position: relative; font-style: normal; width: 220px; height: 50px; display: inline-flex; align-items: center;
        transition: all 0.3s ease-in-out;
        &::before{
            position: absolute; content: "\e912"; color: #FFFFFF; font-size: 20px; right: 17px; pointer-events: none; 
            font-family: 'icomoon';
        }
        &:hover{
            transform: translateY(-10px);
        }
    }
    input[type="submit"]{
        width: 100%; height: 100%; padding: 0 26px; border: 0; background: #154460; border-radius: 50px; color: #FFFFFF;
        letter-spacing: -0.03em; font-weight: 600; font-size: 17px; line-height: 20px; text-align: left;
    }
}

.question_Sec{
    width: 100%; padding: 64px 0 60px; background: #EDF4FA;
}
.questionpnl{
    width: 100%; display: flex; justify-content: space-between; flex-direction: row-reverse; align-items: center;
}
.questionlft{
    width: auto; filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25));
    border-radius: 10px; overflow: hidden;
}
.questionrt{
    width: auto;
    h3{
        color: #154460; letter-spacing: -0.07em; font-weight: 500; font-size: 65px; line-height: 65px; margin: 0 0 20px;
    }
    strong{
        color: #5AA4EF; font-size: 36px; line-height: 40px;
    }
}









@media (min-width: 1700px) and (max-width: 1799px) {



}

@media (min-width: 1600px) and (max-width: 1699px) {



}


@media only screen and (max-width: 1599px) {

.bannerSec.inr_Bner {
    height: 113px;
}
.request_form_Sec {
    padding: 75px 0;
}
.questionrt {
	h3 {
		font-size: 50px;
		line-height: 55px;
		margin: 0 0 16px;
	}
}
.questionrt {
	strong {
		font-size: 27px;
		line-height: 32px;
	}
}
.questionlft{
    width: 480px;
}
.question_Sec{
    padding: 50px 0;
}
.request_form_rt {
    padding: 35px;
    max-width: 500px;
    margin: 00px 0 0;
}
.form_data {
    margin: 18px 0 0;
}
.form_text {
	& > em {
		font-size: 16px;
		line-height: 20px;
	}
}
.requestformimg {
	bottom: -75px;
	left: 8%;
	width: 485px;
}
.request_form_pnl {
	margin: 50px 0 0;
}




}

@media (min-width: 1400px) and (max-width: 1598px) {



}

@media only screen and (max-width: 1199px) {

.bannerSec {
    &.inr_Bner {
        height: 105px;
    }
}
.request_form_Sec {
    padding: 60px 0;
}
.question_Sec {
    padding: 45px 0;
}
.questionlft {
    width: 400px;
}
.questionrt h3{
    font-size: 45px;
    line-height: 50px;
    margin: 0 0 13px;
}
.questionrt {
	strong {
		font-size: 22px;
		line-height: 30px;
	}
}
.request_form_rt {
    padding: 30px;
    max-width: 450px;
}
.form_text {
    margin: 20px 0 0;
}
.form_buton > em {
    width: 190px;
    height: 45px;
}

.form_buton > em::before {
    font-size: 17px;
    right: 15px;
}
.requestformimg {
    bottom: -60px;
    left: 2%;
    width: 450px;
  }





}


@media only screen and (max-width: 991px) {

.bannerSec.inr_Bner {
    height: 82px;
}
.pagehding p br{
    display: none;
}
.questionlft {
    width: 350px;
}
.questionrt strong {
    font-size: 18px;
    line-height: 26px;
}
.requestformimg {
    bottom: -45px;
    left: 0px;
    width: 250px;
}
.request_form_Sec {
    padding: 45px 0;
}
.request_form_pnl {
    margin: 40px 0 0;
}






}

@media only screen and (max-width: 767px){

.requestformimg{
    display: none;
}
.request_form_rt {
    padding: 25px;
    max-width: 100%;
}
.request_form_pnl {
    margin: 30px 0 0;
}
.question_Sec {
    padding: 35px 0;
}
.questionpnl {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.questionrt {
    text-align: center;
    padding: 25px 0 0;
}





}

@media only screen and (max-width: 575px){







}

@media only screen and (max-width: 480px){ 

.header_iner .headersec {
    padding: 6px 0 0;
}
.questionlft {
    max-width: 350px; filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.15));
    width: 100%;
}
.questionrt h3{
    font-size: 37px;
    line-height: 44px;
    margin: 0 0 10px;
}
.request_form_rt {
    padding: 20px 15px;
    max-width: 100%;
}
.pagehding h2 br{
    display: none;
}


}






