a{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
	text-decoration: none;
}
.foterSec{
	width: 100%; position: relative;
	background: url(../images/foterShape1.png) no-repeat top left, url(../images/foterShape2.png) no-repeat top center, url(../images/foterShape3.png) no-repeat right top;
	ul{
		margin: 0; padding: 0; list-style-type: none;
	}
	&::before{
		position: absolute; content: ""; top: 0; bottom: 0; left: 0; right: 0; background: #081B26; z-index: -1;
	}
}
.foterCar{
	position: absolute; bottom: 0; right: 0;
}
.foterTop{
	width: 100%; padding: 55px 0 10px;
}
.ftrlink{
	width: 100%;
	h3{
		color: #5AA4EF; letter-spacing: -0.04em; font-weight: 500; font-size: 26px; line-height: 30px; margin: 0 0 25px;
	}
	ul{
		width: 100%; display: inline-block;
		li{
			margin: 0 0 15px;
		}
		a{
			color: #BEE5FB; letter-spacing: -0.03em; font-weight: 500; font-size: 16px; line-height: 24px;
			&:hover{
				color: #5AA4EF;
			}
		}
		&:last-child{
			margin: 0;
		}
	}
}
.foterBtm{
	width: 83%; padding: 20px 0; display: flex; flex-direction: row-reverse; justify-content: space-between; position: relative;
	p{
		color: #5AA4EF; letter-spacing: -0.03em; font-weight: 500; font-size: 16px; line-height: 22px;
		a{
			color: #5AA4EF;
			&:hover{
				color: #BEE5FB;
			}
		}
	}
	&::before{
		position: absolute; content: ""; top: 0; left: 0; right: -15px; height: 1px; border-top: 1px solid #1D4962;
	}
	ul{
		display: inline-flex; align-items: center;
		li{
			position: relative; padding-right: 21px; margin-right: 21px;
			a{
				color: #5AA4EF; letter-spacing: -0.03em; font-weight: 500; font-size: 16px; line-height: 22px;
				&:hover{
					color: #BEE5FB;
				}
			}
			&::before{
				position: absolute; content: ""; right: 0; top: 4px; width: 1px; height: 16px; border-right: 1px solid #5AA4EF;
			}
			&:last-child::before{
				content: none;
			}
			&:last-child{
				padding: 0; margin: 0;
			}
		}
	}
}
.foterlogo{
	width: auto;
	a{
		display: inline-block; width: 236px;
	}
}


@media screen and (min-width:1600px) {

}

@media (min-width: 1800px) and (max-width: 1899px) {

.foterCar {
	bottom: 13px;
	width: 380px;
}


}

@media (min-width: 1700px) and (max-width: 1799px) {

.foterCar {
	bottom: 20px;
	width: 330px;
}


}

@media (min-width: 1600px) and (max-width: 1699px) {

.foterCar {
	bottom: 25px;
	width: 278px;
}


}

@media only screen and (max-width: 1599px) {


.ftrlink h3{
	font-size: 23px;
	line-height: 28px;
	margin: 0 0 30px;
}
.foterCar {
	bottom: 34px;
	width: 215px;
  }

}

@media only screen and (max-width: 1199px) {

.foterCar {
	bottom: 41px;
	width: 170px;
}

}

@media only screen and (max-width: 991px) {

	.foterTop{
		.row > div:nth-child(1){
			order: 4;
		}
		.row > div:nth-child(2){
			order: 3;
		}
		.row > div:nth-child(3){
			order: 2;
		}
		.row > div:nth-child(4){
			order: 1;
		}
	}
	.foterlogo {
		a {
			width: 215px;
		}
	}
	.ftrlink h3 {
		font-size: 20px;
		line-height: 25px;
		margin: 0 0 23px;
	  }
	  .ftrlink{
		margin: 30px 0 0;
	  }
	  .foterlogo{
		text-align: center;
	  }
	  .foterCar{
		display: none;
	  }
	  .foterBtm{
		width: 100%;
	  }
	  .foterTop {
		padding: 35px 0 15px;
	  }
	  .foterSec{
		background: none;
	  }
	

}

@media only screen and (max-width: 767px){

.foterBtm {
	flex-direction: column;
	align-items: center;
	text-align: center;
	}
	.foterBtm ul li::before {
	top: 5px;}
	.foterBtm ul{
		margin: 0 0 11px;
	}
	.foterBtm {
		padding: 16px 0;}
	


}

@media only screen and (max-width: 575px){

.ftrlink ul li {
	margin: 0 8px 8px 0;
	width: auto;
	float: left;
	}

	.ftrlink h3, .ftrlink .h3 {
		margin: 0 0 13px;
	  }
	  .ftrlink {
		margin: 10px 0 0;
	  }
	  .foterBtm::before{
		right: 0;
	  }
	
	  .foterBtm ul li {
		padding-right: 15px;
		margin-right: 15px;
	  }
	  .foterBtm ul li::before {
		top: 7px;
		height: 14px;
	  }
	  .foterTop {
		padding: 28px 0 15px;
	  }
	  .foterlogo {
		margin: 0 0 10px;
	  }


}

@media only screen and (max-width: 480px){ 



}