@import '../../../node_modules/bootstrap/scss/mixins/_breakpoints';

#particles-js {
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
}

.request-demo-person-container {
    margin-top: -4rem;
    display: flex;
    align-items: top;
    justify-content: center;
}

.request-demo-person-container .request-demo-person-image {
    max-width: 100vw;
}

.hero-text {
    font-size: 2.25rem;
}

@include media-breakpoint-up(sm){
    .hero-text {
        font-size: 2.75rem !important;
    }
    .request-demo-person-container {
        margin-top: -5rem;
    }
    .request-demo-person-container .request-demo-person-image {
        max-width: 75vw;
    }
}

@include media-breakpoint-up(md){
    .hero-text {
        font-size: 1.75rem !important;
    }
    .request-demo-person-container {
        margin-top: -7rem;
        margin-left: -8rem;
    }
    .request-demo-person-container .request-demo-person-image {
        max-width: 65vw;
    }
}

@include media-breakpoint-up(lg){
    .hero-text {
        font-size: 2.25rem !important;
    }
    .request-demo-person-container {
        margin-top: -8rem;
    }
}

@include media-breakpoint-up(xl){
    .hero-text {
        font-size: 2.5rem !important;
    }
    .request-demo-person-container {
        margin-top: -8.5rem;
        margin-left: 0;
    }
}

@include media-breakpoint-up(xxl){
    .hero-text {
        font-size: 3rem !important;
    }
}

.feature-node {
    
}

.feature-node-top {
    position: relative;
    margin: 0 auto;    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px !important;
    width: 130px !important;
    z-index: 0;
}

.feature-node-top::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('../images/feature-node-top.png');
    background-size: 130px 130px;
}

/*
.feature-node-2 > .feature-node-top::before {
    transform: rotate(60deg);
}

.feature-node-3 > .feature-node-top::before {
    transform: rotate(120deg);
}

.feature-node-4 > .feature-node-top::before {
    transform: rotate(180deg);
}

.feature-node-5 > .feature-node-top::before {
    transform: rotate(240deg);
}

.feature-node-6 > .feature-node-top::before {
    transform: rotate(300deg);
}
*/


.feature-nodes-container .row:nth-child(2) > div:nth-child(1) .feature-node-top::before{
    transform: rotate(-60deg);
}
.feature-nodes-container .row:nth-child(3) > div:nth-child(1) .feature-node-top::before{
    transform: rotate(-120deg);
}
.feature-nodes-container .row:nth-child(3) > div:nth-child(2) .feature-node-top::before{
    transform: rotate(-180deg);
}
.feature-nodes-container .row:nth-child(2) > div:nth-child(3) .feature-node-top::before{
    transform: rotate(-240deg);
}
.feature-nodes-container .row:nth-child(1) > div:nth-child(2) .feature-node-top::before{
    transform: rotate(-300deg);
}

.feature-node-top::after{
    position: absolute; content: ""; pointer-events: none;
}
.feature-node-top span::after{
    position: absolute; content: ""; background: #154460; border-radius: 100%; width: 13.47px; height: 13.47px; top: 50%;
    transform: translateY(-50%); right: -25px; pointer-events: none;
}
.feature-nodes-container .row:first-child > div:nth-child(1) .feature-node-top::after{
    width: 226px; height: 325px; right: -185%; top: 50%; border: 1.12268px solid #154460; border-left: 0; border-bottom: 0;
}
.feature-nodes-container .row:first-child > div:nth-child(2) .feature-node-top::after{
    width: 216px; height: 306px; left: -185%; top: 50%; border: 1.12268px solid #154460; border-right: 0; border-bottom: 0;
}
.feature-nodes-container .row:first-child > div:nth-child(2) .feature-node-top span::after{
    right: 0; left: -25px;
}
.feature-nodes-container .row:nth-child(2) > div:nth-child(1) .feature-node-top::after{
    width: 226px; height: 128px; right: -185%; top: 50%; border: 1.12268px solid #154460; border-left: 0; border-bottom: 0;
}
.feature-nodes-container .row:nth-child(2) > div:nth-child(3) .feature-node-top::after{
    width: 230px; height: 53px; left: -185%; top: 50%; border: 1.12268px solid #154460; border-right: 0; border-bottom: 0;
}
.feature-nodes-container .row:nth-child(2) > div:nth-child(3) .feature-node-top span::after{
    right: 0; left: -23px;
}
.feature-nodes-container .row:nth-child(3) > div:nth-child(1) .feature-node-top::after{
    width: 216px;height: 306px; border: 1.12268px solid #154460; bottom: 50%; border-top: 0; border-left: 0;
    right: -185%;
}
.feature-nodes-container .row:nth-child(3) > div:nth-child(2) .feature-node-top::after{
    width: 226px;height: 259px;border: 1.12268px solid #154460; bottom: 50%; border-top: 0; border-right: 0;
    left: -185%;
}
.feature-nodes-container .row:nth-child(3) > div:nth-child(2) .feature-node-top span::after{
    right: 0; left: -25px;
}


@include media-breakpoint-down(xxl) {


.feature-nodes-container .row:first-child > div:nth-child(1) .feature-node-top::after{
    width: 200px;height: 340px;right: -163%;top: 50%;
}
.feature-nodes-container .row:first-child > div:nth-child(2) .feature-node-top::after{
    width: 194px;height: 340px;left: -163%;top: 50%;
}
.feature-nodes-container .row:nth-child(3) > div:nth-child(1) .feature-node-top::after{
    width: 200px; right: -165%;  background-size: 200px;
}




}

@include media-breakpoint-down(xl) {


.feature-nodes-container .row:first-child > div:nth-child(1) .feature-node-top::after{
    width: 160px;  height: 340px; right: -133%;
}
.feature-nodes-container .row:first-child > div:nth-child(2) .feature-node-top::after{
    width: 160px;  height: 340px; left: -133%;
}
.feature-nodes-container .row:nth-child(2) > div:nth-child(1) .feature-node-top::after{
    right: -135%; width: 160px;
}
.feature-nodes-container .row:nth-child(2) > div:nth-child(3) .feature-node-top::after{
    left: -135%; width: 160px; 
}
.feature-nodes-container .row:nth-child(3) > div:nth-child(1) .feature-node-top::after{
    right: -135%;width: 160px;
}
.feature-nodes-container .row:nth-child(3) > div:nth-child(2) .feature-node-top::after{
    left: -134%;width: 160px;
}

}

@include media-breakpoint-down(lg) {


    .feature-node-top::after{
        right: 0 !important;
        left: 112% !important;
        top: 50% !important;
        transform: translateY(-50%);
        border-top: 1.12268px solid #154460;
        height: 1px !important;
        background: none !important;
        width: 340% !important;
    }
    .feature-nodes-container{
        position: relative; 
    }
    .feature-nodes-container > .row{
        margin: 0; overflow: hidden;
    }
    .feature-nodes-container::before{
        position: absolute; top: 65px; bottom: 65px; right: 24px; width: 1px; border-right: 1.12268px solid #154460; content: "";
    }
    .feature-nodes-container::after{
        position: absolute; content: ""; top: 50%; transform: translateY(-50%); right: 24px; width: 20%; border-top: 1.12268px solid #154460;
        height: 1px;
    }
    .feature-node-top span::after {
        right: -25px !important;
        left: auto !important;
      }
.feature-nodes-container > .row:last-child > div {
    position: relative;
}
.feature-nodes-container > .row:last-child > div:last-child::before{
    position: absolute; content: ""; width: 3px; bottom: 0; top: 65px; background: #fff; right: 0;
}



}

@include media-breakpoint-down(md) {



}

@include media-breakpoint-down(sm) {



}
