@import '../../../node_modules/bootstrap/scss/mixins/_breakpoints';

.request-demo-person-container {
    margin-top: -4rem;
    display: flex;
    align-items: top;
    justify-content: center;
}

.request-demo-person-container .request-demo-person-image {
    max-width: 100vw;
}


@include media-breakpoint-up(sm){
    .request-demo-person-container {
        margin-top: -5rem;
    }
    .request-demo-person-container .request-demo-person-image {
        max-width: 75vw;
    }
}

@include media-breakpoint-up(md){
    .request-demo-person-container {
        margin-top: -6rem;
        margin-left: -5rem;
    }
    .request-demo-person-container .request-demo-person-image {
        max-width: 50vw;
    }
}

@include media-breakpoint-up(lg){
    .request-demo-person-container {
        margin-top: -7rem;
    }
}

@include media-breakpoint-up(xl){
    .request-demo-person-container {
        margin-top: -8.5rem;
        margin-left: 0;
    }
}

/* ALL ABOVE CSS IS CLEAN */


/* ALL THE BELOW CSS STILL NEED CLEANING */

.features-container {
    max-width: 1499px;    
}

.feturesbx {
    text-align: center;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        color: #6D7384;
        letter-spacing: -0.03em;
        font-weight: 500;
        font-size: 17.9629px;
        line-height: 36px;
    }

    h4 {
        color: #154460;
        text-transform: uppercase;
        letter-spacing: -0.02em;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin: 16px 0 17px;
    }

    >span,
    >i {
        width: 141px;
        height: 149px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-size: 48px;
        background: url(../images/feturesFrme.png) no-repeat center center;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            top: 70px;
            left: 110%;
        }
    }
}

.fetureslst {
    width: 100%;

    >.row {
        margin: 0;
    }

    >.row>div {
        padding: 0;
        display: flex;

        &:first-child .feturesbx>span::after,
        &:first-child .feturesbx>i::after {
            width: 226px;
            height: 259px;
            background: url(../images/fetureLine1.png) no-repeat 0 0;
        }

        &:nth-child(2) .feturesbx>span::after {
            width: 216px;
            height: 306px;
            background: url(../images/fetureLine2.png) no-repeat 0 0;
        }

        &:nth-child(3) .feturesbx>span::after {
            width: 226px;
            height: 128px;
            background: url(../images/fetureLine3.png) no-repeat 0 0;
        }

        &:nth-child(4) .feturesbx>span::after {
            width: 199px;
            height: 53px;
            background: url(../images/fetureLine4.png) no-repeat 0 0;
        }

        &:nth-child(even) .feturesbx>span::after {
            right: 110%;
            left: auto;
        }

        &:nth-child(even) {
            justify-content: flex-end;
        }

        &:nth-child(2) .feturesbx,
        &:nth-child(3) .feturesbx {
            margin-top: -20px;
        }

        &:nth-child(4) .feturesbx {
            margin-top: 57px;
        }

        &:nth-child(1) {
            justify-content: flex-end;
        }

        &:nth-child(1) .feturesbx {
            margin-right: 12%;
        }

        &:nth-child(2) .feturesbx {
            margin-right: 12%;
        }

        &:nth-child(4) .feturesbx {
            margin-right: -40px;
        }


        &:nth-child(5) .feturesbx>span::after {
            width: 216px;
            height: 306px;
            background: url(../images/fetureLine2.png) no-repeat 0 0;
            transform: rotate(-180deg);
            top: -145%;
        }

        &:nth-child(6) .feturesbx>span::after {
            width: 226px;
            height: 259px;
            background: url(../images/fetureLine1.png) no-repeat 0 0;
            transform: rotate(-180deg);
            top: -114%;
        }

        &:nth-child(5) {
            width: auto;
            position: absolute;
            bottom: -23%;
            left: 10%;
        }

        &:nth-child(6) {
            width: auto;
            position: absolute;
            bottom: -23%;
            right: 10%;
        }

        &:nth-child(2) .feturesbx>span::after {
            right: 150%;
            top: 92%;
        }

        &:nth-child(1) .feturesbx>span::after,
        &:nth-child(1) .feturesbx>i::after {
            left: 135%;
            top: 108%;
        }
    }
}

.feturesbx>i::after,
.feturesbx>span::after {
    pointer-events: none;
}

@include media-breakpoint-up(xxxl) {
    .feturesbx {
        h4 {
            color: #154460;
            text-transform: uppercase;
            letter-spacing: -0.02em;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            margin: 15px 0 12px;
        }
    }

    .feturesbx {
        p {
            color: #6D7384;
            letter-spacing: -0.03em;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
        }
    }

    .feturesbx {
        max-width: 330px;
    }

    .feturesbx>span,
    .feturesbx>i {
        width: 120px;
        height: 128px;
        font-size: 35px;
        background-size: 100% 100%;

    }

    .fetureslst {
        &>.row {
            &>div {
                &:first-child {
                    .feturesbx {
                        &>i {
                            &::after {
                                width: 160px;
                                height: 185px;
                                background-size: 160px;
                            }
                        }
                    }
                }
            }
        }
    }

    .feturesbx h4 {
        font-size: 16px;
        line-height: 20px;
        margin: 12px 0 10px;
    }

    .feturesbx p {
        font-size: 15px;
        line-height: 25px;
    }

    .feturesbx {
        max-width: 255px;
    }

    .fetureslst>.row>div:nth-child(4) .feturesbx {
        margin-right: -30px;
    }

    .feturesbx>span::after,
    .feturesbx>i::after {
        top: 55px;
    }

    .fetureslst>.row>div:nth-child(2) .feturesbx>span::after {
        background-size: 160px;
        width: 160px;
        height: 238px;
    }

    .fetureslst>.row>div:nth-child(3) .feturesbx>span::after,
    .fetureslst>.flow>div:nth-child(3) .feturesbx>span::after {
        width: 160px;
        height: 97px;
        background-size: 160px;
    }

    .fetureslst>.row>div:nth-child(4) .feturesbx>span::after {
        background-size: 160px;
        height: 51px;
        width: 160px;
    }

    .fetureslst>.row>div:nth-child(5) .feturesbx>span::after {
        background-size: 160px;
        width: 160px;
        height: 235px;
    }

    .fetureslst>.row>div:nth-child(6) .feturesbx>span::after {
        width: 226px;
        height: 184px;
        background-size: 160px;
    }

    .fetureslst>.row>div:nth-child(1) .feturesbx {
        margin-right: 26%;
    }

    .fetureslst>.row>div:nth-child(2) .feturesbx {
        margin-right: 15%;
        margin-top: 0px;
    }

    .fetiresimg {
        bottom: 20%;
        left: 25%;
        width: 625px;
    }

    .fetureslst>.row>div:nth-child(5) {
        bottom: 0%;
    }

    .fetureslst>.row>div:nth-child(6) {
        bottom: 0;
    }
}

@include media-breakpoint-up(xxl) {

    .feturesbx {
        max-width: 300px;
    }

    .fetureslst>.row>div:nth-child(4) .feturesbx {
        margin-top: -20px;
    }

    .fetiresimg {
        bottom: -1%;
        left: 24%;
        width: 802px;
    }

    .fetureslst>.row>div:nth-child(6) {
        bottom: -22%;
    }

    .fetureslst>.row>div:nth-child(5) {
        bottom: -22%;
    }
}

@include media-breakpoint-up(xl) {
    .feturesbx {
        max-width: 265px;

        h4 {
            font-size: 16px;
            line-height: 20px;
            margin: 12px 0 9px;
        }
    }

    .fetureslst {
        &>.row {
            &>div {
                &:nth-child(2) {
                    .feturesbx {
                        &>span {
                            &::after {
                                width: 125px;
                                height: 185px;
                                background-size: 125px;
                                bottom: -205%;
                                right: 167%;
                                top: auto;
                            }
                        }
                    }
                }

                &:first-child {
                    .feturesbx {
                        &>i {
                            &::after {
                                width: 125px;
                                height: 146px;
                                background-size: 125px;
                                left: 161%;
                                bottom: -180%;
                                top: auto;
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    .feturesbx {
                        &>span {
                            &::after {
                                width: 130px;
                                height: 85px;
                                background-size: 130px;
                            }
                        }
                    }
                }

                &:nth-child(4) {
                    .feturesbx {
                        margin-right: -20px;
                        margin-top: 16px;

                        &>span {
                            &::after {
                                width: 130px;
                                height: 53px;
                                background-size: 130px;
                            }
                        }
                    }
                }
            }
        }
    }

    .fetiresimg {
        bottom: 24%;
        left: 28%;
        width: 490px;
    }

    .featuresSec {
        padding: 50px 0 60px;
    }

    .fetirespnl {
        margin: 30px 0 0;
    }

    .fetureBtns {
        bottom: -115px;
        max-width: 500px;
    }

    .fetureslst>.row>div:nth-child(2) .feturesbx {
        margin-right: 8%;
    }

    .fetureslst>.row>div:nth-child(1) .feturesbx {
        margin-right: 34%;
    }

    .fetureslst>.row>div:nth-child(3) .feturesbx {
        margin-top: 21px;
    }

    .fetures_request_sec .requestDemopnl .requestDemoimg {
        right: 13%;
    }

    .hand_advange {
        width: 500px;
    }
}

.fetureslst {
    margin-top: -70px;

    span {
        &::after {
            content: none !important;
        }
    }

    i {
        &::after {
            content: none !important;
        }
    }

    &>.row {
        margin: 0 -12px;

        &>div {
            padding: 0 12px;
        }
    }
}

.fetirespnl {
    margin: 10px 0 0;
}

.feturesbx {
    max-width: 100%;
    margin: 25px 0 0 !important;
}

.featuresSec {
    padding: 50px 0 60px;
}

.fetureBtns {
    bottom: -70px;
    max-width: 400px;
}

.fetureslst>.row>div:nth-child(5),
.fetureslst>.row>div:nth-child(6) {
    position: static;
    width: 50%;
}

.fetureslst {
    padding: 0 0;
}

.fetureBtns {
    max-width: 290px;
}

@include media-breakpoint-up(md) {

    .fetures_request_sec .requestDemopnl .requestDemoimg {
        right: -5%;
    }
}

@include media-breakpoint-up(sm) {

    .fetureslst>.row>div:nth-child(5),
    .fetureslst>.row>div:nth-child(6) {
        width: 100%;
    }

    .featuresSec {
        padding: 50px 0 45px;
    }
}
