@import '../../../node_modules/bootstrap/scss/_variables';

.fs-7 {
    font-size: .90rem !important;
}

.fs-8 {
    font-size: .80rem !important;
}

.fs-9 {
    font-size: .70rem !important;
}

.bg-gray {
    background-color: $gray-600;
}

.text-bg-gray {
    @extend .bg-gray;
    color: $light !important;
}

@if $enable-shadows == false {
    /* If shadows are disabled, lets expose the shadow helpers. */
    .shadow {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }

    .shadow-lg {
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    }
}

.shadow-xl {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2) !important;
}

.card-zoom:hover {
    -moz-transform: scale(1.06);
    -webkit-transform: scale(1.06);
    -o-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    border-color: transparent !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 10;
}
