@use 'sass:math';

@import "components/_fonts.scss";

/* Here define bootstrap variables */

// define custom colors
$primary:                       #2A81BB;
$secondary:                     #144C71;
$success:                       #198754;
$info:                          #5AA4EF;
$warning:                       #FFC107;
$danger:                        #DC3545;
$light:                         #EDF4FA;
$dark:                          #081B26;
$white:			                #ffffff;

// body
$body-color:                    #6D7384;
$body-bg:		                $white;
$font-family-base:              "Lato";

$font-weight-lighter:           lighter;
$font-weight-light:             300;
$font-weight-normal:            400;
$font-weight-medium:            500;
$font-weight-semibold:          600;
$font-weight-bold:              700;
$font-weight-bolder:            bolder;

// scss-docs-start border-radius-variables
$border-radius-pill:            50rem !default;
$border-radius-xxl:             2rem !default;
$input-border-radius:           $border-radius-xxl;
$input-border-radius-lg:        $border-radius-xxl;

// display
$display-font-weight:           $font-weight-semibold;
// scss-docs-start display-headings
$display-font-sizes: (
  1: 6rem,
  2: 5.5rem,
  3: 4.5rem,
  4: 4rem,
  5: 3.5rem,
  6: 3rem
) !default;

// headings
$headings-color: 			    $secondary;
$headings-font-weight:          $font-weight-semibold;

// $headings-font-family: 		'LatoWebBold';
// $headings-font-style:        normal;

// $enable-rounded:             true;

// buttons
$btn-padding-x:                 1.75rem;
$btn-padding-x-lg:              2.25rem;
$btn-border-radius:             $border-radius-pill;
$btn-border-radius-sm:          $border-radius-pill;
$btn-border-radius-lg:          $border-radius-pill;

// Inputs
$input-border-radius:           $border-radius-pill;
$input-color:                   #154460;
$input-placeholder-color:       #aed5ed;
$input-bg:                      $white;
$input-group-addon-bg:          $white;

// Links
$link-hover-decoration:         none;

// Navbar
$navbar-nav-link-padding-x:     2rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px,
  xxxxl: 1800px
);

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "components/_utilities.scss";
@import "components/_flow.scss";
@import "components/_messages.scss";
@import "components/_widgets.scss";
@import "components/_pager.scss";
@import "components/_taxonomy.scss";
@import "components/_hexagon.scss";
@import "components/_header.scss";
@import "components/_footer.scss";
@import "components/_features.scss";
@import "components/_advantage.scss";
@import "components/_home.scss";

// Here you can import any custom component as needed.

.text-bg,
.text-bg-white {
    color: $body-color;
}

.bg-light,
.text-bg-light {
    color: $body-color;
}

.bg-dark, .btn-dark {
    color: $white;
}

.bg-info, .btn-info,
.bg-primary, .btn-primary,
.bg-secondary, .btn-secondary,
.bg-danger, .btn-danger,
.bg-success, .btn-success,
.bg-warning, .btn-warning,
.bg-dark, .btn-dark,
{
    color: $white;
}

.text-bg-info, text-bg-info a,
.text-bg-secondary, .text-bg-secondary a,
.text-bg-danger, .text-bg-danger a,
.text-bg-success, .text-bg-success a,
.text-bg-warning, .text-bg-warning a,
.text-bg-dark, .text-bg-dark a
{
    color: $white;
}

.text-bg-primary, .text-bg-primary a,
{
    color: $white !important;
}

.text-bg-info a:hover, .text-bg-info a:focus, .text-bg-info a:active,
.text-bg-primary a:hover, .text-bg-primary a:focus, .text-bg-primary a:active,
.text-bg-secondary a:hover, .text-bg-secondary a:focus, .text-bg-secondary a:active,
.text-bg-danger a:hover, .text-bg-danger a:focus, .text-bg-danger a:active,
.text-bg-success a:hover, .text-bg-success a:focus, .text-bg-success a:active,
.text-bg-warning a:hover, .text-bg-warning a:focus, .text-bg-warning a:active,
.text-bg-dark a:hover, .text-bg-dark a:focus, .text-bg-dark a:active
{
	color: #eeedf0;
}
